.grande
{
	font-size: xxx-large;
}

.paragrafo
{
	font-size: large;
	background-color: #ffe0cc;
}

.rosso
{
	color: red;
}

.verde
{
	color: green;
}

.blu
{
	color: blue;
}

.centrato
{
	text-align: center;
}

.form
{
	background-color:  #e6ffff;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

