.bordo
{
	padding: 2px;
	text-align: center;
	margin: 50px;
}

.tratteggio
{
	border: 3px dotted;
}

.doppia-linea
{
	border: 5px double;
}

.solido
{
	border: 1px solid;
}

.img-centrata
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button 
{
	font-family: Times New Roman;
	display: block;
    border: 5px dotted green;
    color: blue;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
	width: 25%;
}